# Copy this to your Java project root as .clang-format to customize per-project
---
Language: Java
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4

# Multiline parameters/arguments
AlignAfterOpenBracket: BlockIndent  # or AlwaysBreak
BinPackParameters: false            # One parameter per line
BinPackArguments: false             # One argument per line
